<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Valeyard</string>
	<key>Builder Version</key>
	<string>9537.78.2</string>
	<key>CFBundleDisplayName</key>
	<string>SA Needful</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.test2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Injected.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
				<string>highlight.js</string>
				<string>jquery.lazyload.js</string>
				<string>widgets.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Safari is terrible lol</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>http://forums.somethingawful.com</string>
				<string>http://forums.somethingawful.com/</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://dl.dropboxusercontent.com/u/17019326/Update.plist</string>
	<key>Website</key>
	<string>http://valeyard.github.io</string>
</dict>
</plist>
