<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>fflist</string>
		<key>Title</key>
		<string>ff</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>avatarHide</string>
		<key>Title</key>
		<string>avatarHide</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>avatarHideOption</string>
		<key>Title</key>
		<string>Click avatars to hide/show</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>oldbread</string>
		<key>Title</key>
		<string>oldbread</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>lazyload</string>
		<key>Title</key>
		<string>Lazyload images</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>iglist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>snypeAudio</string>
		<key>Title</key>
		<string>Play Snype sound</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>signature</string>
		<key>Title</key>
		<string>Keep signature box ticked</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>quote</string>
		<key>Title</key>
		<string>Highlight quotes</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>snype</string>
		<key>Title</key>
		<string>Snype button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ads</string>
		<key>Title</key>
		<string>Hide ads</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>embedTweet</string>
		<key>Title</key>
		<string>Embed tweets</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>filter</string>
		<key>Title</key>
		<string>Word filters</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>tweet</string>
		<key>Title</key>
		<string>Tweet your posts</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>vine</string>
		<key>Title</key>
		<string>Embed Vine's</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>webm</string>
		<key>Title</key>
		<string>Embed .webm</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>tree</string>
		<key>Title</key>
		<string>Whacky layout change for forum main display</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
